* {
  font-family: 'Museo Sans Cyrl', sans-serif;
}

.container {
  max-width: 950px;
  margin: 0 auto;
}

.promo {
  min-height: 650px;
  background: url(../img/background/bg1.png) center center/cover no-repeat;
  padding: 21px 0 93px 0;
}

.promo__wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.promo__wrapper h1 {
  margin: 0;
  margin-top: 91px;
  font-size: 42px;
  font-weight: bold;
  text-align: right;
  color: #ffffff;
  text-transform: uppercase;
  line-height: 42px;
}

.promo__wrapper h2 {
  margin: 0;
  margin-top: 17px;
  font-size: 24px;
  font-weight: 500;
  text-align: right;
  color: #ffffff;
  text-transform: uppercase;
  line-height: 17px;
}

.promo__items {
  margin-top: 66px;
  margin-right: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 425px;
  text-align: center;
}

.promo__text {
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  color: #ffffff;
  margin-top: 20px;
}

.promo__consultation {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.promo__catalog {
  margin-top: 18px;
  font-size: 16px;
  font-weight: 500;
  text-align: right;
  color: #ffffff;
}

.promo__catalog a {
  text-transform: uppercase;
  text-decoration: underline;
  color: #ffffff;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  width: 241px;
}

.header__logo img {
  width: 100%;
}

.header__text {
  width: 187px;
  font-size: 12px;
  font-weight: 500;
  text-align: center;
  color: #ffffff;
}

.header__text span {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
}

.header__contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.header__contacts a {
  font-size: 18px;
  font-weight: bold;
  text-align: right;
  color: #ffffff;
}

.button {
  width: 150px;
  height: 30px;
  border-radius: 5px;
  background-color: #c70101;
  border: none;
  font-size: 12px;
  font-weight: 500;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  transition: 0.3s;
}

.button:hover {
  box-shadow: 0 0 10px 3px rgba(250, 0, 0, 0.5);
}

.button_promo {
  width: 300px;
  height: 50px;
  font-size: 16px;
  margin-top: 67px;
}

.button_consultation {
  width: 300px;
  height: 55px;
  font-size: 16px;
  margin-top: 20px;
}

.button_catalog {
  width: 131px;
  height: 40px;
  font-size: 14px;
}

.advantages {
  min-height: 472px;
  background-color: #f6f6f6;
  padding: 69px 0 81px 0;
}

.advantages__items {
  margin: 0 auto;
  margin-top: 65px;
  display: flex;
  justify-content: space-between;
}

.advantages__item {
  text-align: center;
}

.advantages__heading {
  margin-top: 38px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  color: #0d0d0d;
}

.advantages__descr {
  max-width: 247px;
  margin-top: 26px;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  color: #0d0d0d;
}

.advantages__descr a {
  color: red;
  text-decoration: underline;
}

.consultation {
  min-height: 680px;
  background: url(../img/background/bg2.png) center center/cover no-repeat;
  padding: 100px 0 92px 0;
}

.consultation__content {
  margin-top: 80px;
  font-size: 20px;
  font-weight: 500;
  text-align: left;
  color: #ffffff;
}

.title {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  color: #0d0d0d;
  margin: 0 auto;
  text-transform: uppercase;
}

.title__consultation {
  font-size: 36px;
  text-align: left;
  color: #ffffff;
  text-transform: uppercase;
  line-height: 36px;
}

.title__catalog {
  font-size: 30px;
}

.carousel {
  padding: 81px 0;
}

.carousel__inner {
  width: 750px;
  margin: 0 auto;
  position: relative;
  transition: 4s;
}

.carousel .slick-prev, .carousel .slick-next {
  border: none;
  background-color: #fff;
  position: absolute;
  top: 50%;
  transform: translateY(-66%);
  left: -66px;
}

.carousel .slick-prev:focus, .carousel .slick-next:focus {
  outline: none;
}

.carousel .slick-next {
  right: -66px;
  left: auto;
}

.carousel .slick-next img {
  width: 31px;
  height: 50px;
  display: block;
}

.carousel .slick-dots {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: rgba(0, 0, 0, 0.5);
  border: none;
  background-color: #fff;
}

.carousel .slick-dots button {
  visibility: hidden;
}

.catalog {
  padding: 0 0 103px 0;
}

.catalog__tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 69px;
  padding-left: 0;
  margin-bottom: 0;
}

.catalog__tab {
  margin: 0 5px;
  width: 220px;
  height: 50px;
  border: solid 2px #d0d0d0;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  color: #6b6b6b;
  text-transform: uppercase;
  line-height: 48px;
  transform: skew(-30deg);
  cursor: pointer;
  list-style-type: none;
}

.catalog__tab div {
  transform: skew(30deg);
}

.catalog__tab_active {
  background-color: #c70101;
  color: #ffffff;
  border: none;
}

.catalog__blocks {
  display: none;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 59px;
}

.catalog__blocks_active {
  display: flex;
}

.catalog-block {
  margin-right: 20px;
  margin-bottom: 20px;
  width: 300px;
  min-height: 440px;
  padding: 20px 20px 20px 20px;
  text-align: center;
  border: solid 2px #e8e8e8;
  overflow: hidden;
}

.catalog-block:nth-child(3) {
  margin-right: 0;
}

.catalog-block:nth-child(6) {
  margin-right: 0;
}

.catalog-block__img img {
  margin: 0 auto;
  display: block;
  width: 140px;
  min-height: 200px;
}

.catalog-block__subheader {
  margin-top: 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  color: #0d0d0d;
}

.catalog-block__descr {
  margin-top: 16px;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  color: #0d0d0d;
}

.catalog-block__link {
  margin: 0 auto;
  margin-top: 17px;
  margin-bottom: 19px;
  border-bottom: 1px solid #c70101;
  height: 14px;
  width: 88px;
  line-height: 12px;
}

.catalog-block__link a {
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  color: #c70101;
  text-decoration: none;
}

.catalog-block hr {
  margin: 0;
  border-bottom: 0;
}

.catalog-block__footer {
  margin-top: 21px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.catalog-block__price_old {
  font-size: 14px;
  font-weight: 300;
  text-align: left;
  color: #555555;
  text-decoration: line-through;
}

.catalog-block__price_new {
  font-size: 20px;
  font-weight: bold;
  text-align: left;
  color: #050505;
}

.catalog-block__btn {
  margin-top: 2px;
}

.catalog-block__wrapper {
  display: flex;
  justify-content: center;
  width: calc(200% + 40px);
}

.catalog-block__main {
  width: 50%;
  margin-right: 0px;
  transform: translateX(-100%);
  transition: 0.5s;
}

.catalog-block__main_active {
  transform: translateX(0%);
  margin-right: 20px;
}

.catalog-block__second {
  width: 50%;
  margin-left: 20px;
  transform: translateX(0);
  transition: 0.5s all;
}

.catalog-block__second_active {
  transform: translateX(-100%);
  margin-left: 0;
}

.catalog-block__second_stats {
  width: 237px;
  position: relative;
  list-style-type: none;
  padding-left: 17px;
}

.catalog-block__second_stats li {
  position: relative;
  margin-top: 10px;
  font-size: 14px;
  font-weight: 300;
  text-align: left;
  color: #555555;
  line-height: 19px;
}

.catalog-block__second_stats li:before {
  position: absolute;
  top: 6px;
  left: -18px;
  display: block;
  content: '';
  width: 5px;
  height: 5px;
  background-color: #c70101;
  margin-right: 14px;
}

.catalog-block__second .catalog-block__link {
  margin-top: 70px;
  width: 48px;
  height: 14px;
  line-height: 12px;
}

.reviews {
  padding: 0 0 0 71px;
}

.reviews__content {
  margin-top: 70px;
}

.reviews-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}

.reviews__comment {
  margin-left: 62px;
}

.reviews__subtitle {
  font-size: 18px;
  font-weight: bold;
  text-align: left;
  color: #0d0d0d;
}

.reviews__descr {
  font-size: 14px;
  font-weight: 300;
  text-align: left;
  color: #646464;
  margin-top: 10px;
}

.reviews__text {
  margin-top: 19px;
  font-size: 16px;
  font-weight: 300;
  text-align: left;
  color: #0d0d0d;
}

.footer {
  position: relative;
}

.footer__descr {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 460px;
  height: 270px;
  background-color: #c70101;
  padding: 50px 0 0 0;
}

.footer__adress {
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  color: #ffffff;
  margin: 0 auto;
}

.footer__tel {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin: 0auto;
  margin-top: 36px;
}

.footer__tel a {
  color: #ffffff;
  text-decoration: none;
  transition: 0.5s;
}

.footer__tel a:hover {
  color: violet;
}

.footer__links {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-top: 38px;
}

.footer__link {
  position: relative;
  margin-right: 30px;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: 2px white solid;
  transition: 0.3s all;
}

.footer__link:nth-last-child(1) {
  margin-right: 0;
}

.footer__link:hover {
  border: none;
  border-bottom: 2px white solid;
  border-radius: 0;
}

.footer__link i {
  display: block;
  position: absolute;
  top: 51%;
  left: 51%;
  transform: translate(-50%, -50%);
  color: white;
}

.footer__link a {
  display: block;
  width: 100%;
  height: 100%;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.56);
}

.overlay .modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 380px;
  min-height: 400px;
  background-color: #f2f2f2;
  padding: 38px 40px 40px 40px;
}

.overlay .modal__close {
  position: absolute;
  top: 0;
  right: -40px;
  font-size: 41px;
  line-height: 21px;
  color: #c70101;
  cursor: pointer;
}

.overlay .modal__subtitle {
  color: #0d0d0d;
  font-size: 18px;
  font-weight: 700px;
  text-align: center;
}

.overlay .modal__descr {
  color: #0d0d0d;
  font-size: 14px;
  font-weight: 500px;
  text-align: center;
}

.overlay .modal_mini {
  min-height: 140px;
}

#consultation, #order, #thanks {
  display: none;
}

.form {
  margin-top: 36px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.form input {
  width: 300px;
  height: 50px;
  border-radius: 5px;
  margin-bottom: 15px;
  padding: 0px 20px;
  font-size: 14px;
  font-weight: 300;
  text-align: left;
  color: #4b4b4b;
  border: none;
}

.form input:nth-child(3) {
  margin-bottom: 0px;
}

.form_mt25 {
  margin-top: 25px;
}
